
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.container {
    background-color: #08102b;
    color: aliceblue;

    align-content: center;
    height: 850px;
    width: 850px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: auto;

}

/*.btn {*/
/*    background-color: rgb(175,175,175);*/
/*    !*color: aliceblue;*!*/
/*    border-radius: 5px;*/
/*    padding: 8px;*/
/*    align-content: center;*/
/*}*/
.task{
    border: 2px solid aliceblue;
    justify-content: space-between;
    margin: 30px;
    padding: 18px;
    overflow: auto;


}