
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.container {
    background-color: #08102b;
    color: aliceblue;

    align-content: center;
    height: 850px;
    width: 850px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: auto;

}

.btn {
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    /*padding: 8px;*/
    /*align-content: center;*/
}
.task {
    border: 2px solid aliceblue;
    justify-content: space-between;
    margin: 30px;
    padding: 18px;
    overflow: auto;
    cursor: pointer;
}
.task.reminder {
    border-left: 5px solid #e91e63;
}

.add-form {
    margin-bottom: 9px;
}
.form-control {
    margin: 10px ;
    padding: 20px;

}
/*.form-control label {*/
/*    display: block;*/
/*    margin-bottom: 200px;*/
/*}*/

.add-form label{
    margin-top: 10px;
}

