
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.container {
    background-color: black;
    color: aliceblue;

    align-content: center;
    height: 850px;
    width: 850px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: auto;

}

.btn {
    background-color: #c2185b;
    color: aliceblue;
    border-radius: 20px;
    padding: 0.5px;
    align-content: center;
}